{% extends 'base.html' %}
{% load static %}

{% block page_stylesheets %}
<link rel="stylesheet" href="{% static 'listings/styles/lodge-profile.css' %}">
{% endblock %}

{% block main %}
<main id="main">
    <div>
        <h2 style="margin: 0;">Lodge Profile</h2>
        <h3>{{lodge.name}}</h3>
    </div>

    <div class="room-profile-container">
        {% for room_type, form in rooms_dict.items %}
        <div>
            <b>{{ room_type }}</b>
            <form method="post" action="{% url 'update_room_profile' pk=form.instance.pk %}">
                {% csrf_token %}
                {{ form }}
    
                <a href="{% url 'upload_room_profile_image' room_profile_id=form.instance.pk %}"> Upload image </a>
    
                <!-- Display room images -->
                <div class="room-images">
                    {% for image in form.instance.room_images.all %}
                    <div>
                        <img src="{{ image.image.url }}" alt="Room Image" style="width: 100px; height: auto;">
                        <p>Description: {{ image.description }}</p>
                    </div>
                    {% empty %}
                    <p>No images uploaded for this room profile.</p>
                    {% endfor %}
                </div>
    
                <button type="submit">Update</button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% comment %}
    <h4 style="margin: 0">Unavailable Room Types</h4>
    {% for room_type in unavailable_room_types %}
    <div>{{room_type.get_name_display}}</div>
    {% endfor %}
    {% endcomment %}
</main>

{% endblock %}
