celery==5.3.1
Django==4.1.7
django-allauth==0.54.0
django-ckeditor==6.6.1
django-cloudinary-storage==0.3.0
django-crispy-forms==2.0
django-js-asset==2.1.0
django-non-dark-admin==2.0.2
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
Pillow==9.5.0
prompt-toolkit==3.0.39
psycopg2
pycodestyle==2.10.0
redis
python-dotenv