{% extends 'base.html' %}

{% block main %}
<p>Creator dashboard</p>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button>logout</button>
</form>

<h4 style="margin: 0;">Client Subscribed Listings</h4>
{% for listing in subscribed_listings %}
    {{ listing.room_profile.room_type.get_name_display }} - {{ listing.room_profile.lodge.name }} - No of subscribed clients: {{ listing.room_profile.listing.subscribed_listings.count }}
{% endfor %}

<h4 style="margin: 0;">Your Hostels</h4>
{% for lodge in user.lodges.all %}
    <div>
        <a href="{% url 'get_lodge_profile' pk=lodge.pk %}">{{lodge.name}}</a>
    </div>
{% endfor %}
<br>

<a href="{% url 'register_lodge' %}">Register hostel</a>
{% endblock %}
