{% extends 'base.html' %}
{% load static %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'core/styles/elements/arrow-checkbox.css' %}?uuid={{uuid}}">
    <link rel="stylesheet" href="{% static 'users/styles/users.css' %}?uuid={{uuid}}">

    {% block section_stylesheets %}
    {% endblock %}
{% endblock %}

{% block main %}
<div id="container">

    <nav class="side-nav" x-ref="sidenav" id="side-nav">
        <a href="{% url 'get_home' %}"><h3>UppeRoom</h3></a>
        <div class="side-nav-links-container">
            <a href="{% if user.role == 'CLIENT' %}{% url 'get_client' %}{% elif user.role == 'CREATOR' %}{% url 'get_creator' %}{% endif %}"><i class="fa-solid fa-gauge"></i>Dashboard</a>
            <!-- <a href="#">Listings</a> -->
            {% if user.role == 'CLIENT' %}
            <a href="{% url 'get_client_subscriptions' %}"><i class="fa-solid fa-list-check"></i>Subscriptions</a>
            {% endif %}

            {% if user.role == 'CREATOR' %}
            <a href="{% url 'get_creator_listings' %}"><i class="fa-solid fa-hotel"></i>Lodges</a>

            <a href="{% url 'get_creator_payments' %}"><i class="fa-solid fa-credit-card"></i>Earnings</a>
            {% endif %}
        </div>

        <form id="logout-form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-btn">logout</button>
        </form>
    </nav>

    <main id="main">
        <div class="middle-content">
            {% block middle_content %}
            {% endblock %}
        </div>

        <div class="key-stats-container">
            <h3>
                <i class="fa-solid fa-chart-simple"></i>
                <span>Key Stats</span>
            </h3>

            {% if user.role == 'CLIENT' %}
            <ul>
                <li><i class="fa-solid fa-check-double green"></i>Active Subscriptions: {% if active_subscriptions %}{{active_subscriptions.count}}{% else %}0{% endif %}</li>
                <li><i class="fa-solid fa-flag-checkered slate-gray"></i>Expired Subscriptions: {% if expired_subscriptions %}{{expired_subscriptions.count}}{% else %}0{% endif %}</li>
                <!-- <li><i class="fa-solid fa-check-double"></i>Complete Transactions: {% if complete_transactions %}{{complete_transactions.count}}{% else %}0{% endif %}</li> -->
                <!-- <li><i class="fa-solid fa-ban"></i>Aborted Transactions: {% if incomplete_transactions %}{{incomplete_transactions.count}}{% else %}0{% endif %}</li> -->
                <!-- <li><i class="fa-solid fa-naira-sign"></i> Total Paid: {% if total_paid %}{{total_paid}}{% else %}0{% endif %}</li> -->
            </ul>
            {% elif user.role == 'CREATOR' %}
            <ul>
                <li><i class="fa-solid fa-credit-card"></i>Earning: &#8358; {% if user.transfer_profile %}{{user.transfer_profile.balance}}{% else %}0{% endif %}</li>
                <li><i class="fa-solid fa-users"></i>Subscribed Clients: 0</li>
                <li><i class="fa-solid fa-hotel"></i>Lodges: {{user.lodges.count}}</li>
                <li><i class="fa-solid fa-house-circle-check"></i>Vacancies: 0</li>
            </ul>
            {% endif %}

        </div>
    </main>

    <div class="users-menu-btn">
        <label class="buttons__burger">
            <input type="checkbox" id="burger" onchange="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <script>
        function toggleNav() {
          const checkbox = document.getElementById('burger');
          const sidenav = document.getElementById('side-nav');

          if (checkbox.checked) {
            sidenav.style.display = 'flex';
          } else {
            sidenav.style.display = 'none';
          }
        }
    </script>
</div>
{% endblock %}
