{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- htmx integration -->
    <script hx-preserve="true" src="{% static 'core/jsLibraries/htmx.min.js' %}" defer></script>
    <script hx-preserve="true" src="{% static 'core/jsLibraries/htmxHeadExtension.js' %}" defer></script>

    <!-- paystack integration -->
    <script hx-preserve="true" src="{% static 'subscriptions/libraries/paystack.js' %}" defer></script>
    <script hx-preserve="true" src="{% static 'subscriptions/scripts/completeTransaction.js' %}" defer></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upperoom</title>
</head>
<body>
    <div id="response-message"></div>

    <a href="{% url 'get_home' %}">Home</a>
    <br>
    {% if not user.is_authenticated %}
    <a href="{% url 'init_email_auth' %}">Account</a>
    <br>
    <a href="{% url 'login' %}">Login</a>
    {% elif user.role == 'CLIENT' %}
    <a href="{% url 'get_client' %}">Account</a>
    {% elif user.role == 'CREATOR' %}
    <a href="{% url 'get_creator' %}">Account</a>
    {% endif %}

    {% block main %}
    {% endblock %}

</body>
</html>
