{% extends 'base.html' %}
{% load static %}


{% block page_stylesheets %}
    <link rel="stylesheet" hx-preserve="true" href="{% static 'core/styles/home/hero.css' %}">
    <link rel="stylesheet" hx-preserve="true" href="{% static 'core/styles/elements/zig-zag-checkbox.css' %}">
    <link rel="stylesheet" hx-preserve="true" href="{% static 'core/styles/elements/button-one.css' %}">
{% endblock %}

{% block main %}
<section id="hero">
    <div class="hero-heading-container">
        <h1>Student Accommodations, Earnings and More...</h1>
    </div>


    <form id="order-summary-form" action="{% url 'get_order_summary' %}" method="post">
        {% csrf_token %}
        <select
        name="schools"
        id="schools-dropdown"
        hx-get="{% url 'get_regions' %}"
        hx-target="#regions-checkboxes"
        hx-trigger="change"
        hx-swap="outerHTML"
        >
            <option value="" disabled selected>schools</option>
            {% for school in schools %}
                <option value="{{school.pk}}">{{school.name}}</option>
            {% endfor %}
            </select>

        <div id="regions-checkboxes">
            <label>
                <i class="fa-solid fa-location-dot"></i>
                <span style="color:lightslategray">Regions</span>
            </label>
        </div>

        <button id="proceed-btn" disabled>proceed</button>
    </form>
</section>
{% endblock %}
