{% extends 'base.html' %}

{% block main %}
<h1>Home page</h1>


<h3>Select school to get started!</h3>

<form action="{% url 'get_order_summary' %}" method="post">
    {% csrf_token %}
    <select
    name="schools"
    id="schools-dropdown"
    hx-get="{% url 'get_regions' %}"
    hx-target="#regions-checkboxes"
    hx-trigger="change"
    hx-swap="outerHTML"
    >
        <option value="" disabled selected>schools</option>
    {% for school in schools %}
        <option value="{{school.pk}}">{{school.name}}</option>
    {% endfor %}
    </select>
    <br><br>

    <div id="regions-checkboxes">
        <label>
            <input type="checkbox" name="regions" value="#" disabled="disabled">
            <span style="color:lightslategray">Regions</span>
        </label>
    </div>

    <br>

    <button id="proceed-btn" disabled>proceed</button>

</form>
{% endblock %}
