<div id="schools-dropdown" class="schools-dropdown display test">
    {% for school in schools %}
        <a
        class="school-url"
        href="#"
        hx-get="{% url 'search_regions' school_pk=school.pk %}"
        hx-swap="outerHTML"
        hx-target="#regions-checkboxes"
        data-school-pk="{{school.pk}}"
        >
            {{school.name}}
        </a>
    {% empty %}
        {% if not query %}
        <a
        data-school-pk=""
        href="#"
        style="display: none;"
        class="school-url">No schools found.</a>
        {% else %}
        <a
        data-school-pk=""
        href="#"
        class="school-url">No schools found.</a>
        {% endif %}
    {% endfor %}
</div>


