.footer {
    background-color: var(--backgroundGray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: .7rem;
}
