#hero {
    padding-top: 4rem;
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
}

.hero-heading-container {
    width: min(60rem, 100%);
    text-align: center;
    justify-self: center;
    display: grid;
    row-gap: .6rem;
}

.hero-heading-container h1 {
    color: var(--primaryBlue);
    font-size: clamp(1.5rem, 5vw + .5rem, 3.5rem);
    margin: 0;
    line-height: calc(5vw + .5rem);
    padding: 0;

    --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow:

    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color),

    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}

.hero-heading-container h3 > span {
    color: var(--primaryGreen);
    /* text-shadow: 0 1px 0 #f2f2f2,
             0 2px 0 #ebebeb,
             0 3px 0 #e6e6e6,
             0 4px 0 #e0e0e0,
             0 5px 0 #d9d9d9,
             0 6px 1px rgba(0, 0, 0, 0.03),
             0 0 5px rgba(0, 0, 0, 0.03),
             0 1px 3px rgba(0, 0, 0, 0.1),
             0 3px 5px rgba(0, 0, 0, 0.08),
             0 5px 10px rgba(0, 0, 0, 0.1),
             0 10px 10px rgba(0, 0, 0, 0.08),
             0 20px 20px rgba(0, 0, 0, 0.05); */

}

.hero-heading-container svg {
    transform: scale(.5);
    height: 25px;
    width: 100%;
}

#order-summary-form {
    /* outline: 2px solid blue; */
    display: grid;
    width: min(40rem, 100%);
    /* justify-self: center; */
    row-gap: 1rem;
}

#regions-checkboxes {
    width: max-content;
    text-align: left;
    display: grid;
    row-gap: .8rem;
    font-size: .8rem;
    max-height: 20rem;
    overflow-y: auto;
}

.order-summary-btn {
    background-color: var(--primaryGreen);
    border: none;
    padding: .5rem 1.5rem;
    color: var(--primaryWhite);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .3rem;
}


/* buildathon design */
.filters-container {
    position: relative;
    display: grid;
}

.schools-dropdown {
    outline: 2px solid slategray;
    position: absolute;
    top: 2rem;
    justify-self: center;
    z-index: var(--indexTwo);
    background-color: var(--primaryWhite);
    z-index: var(--indexBehind);
    opacity: 0;
    display: grid;
}

.schools-dropdown.display {
    opacity: 1;
    z-index: var(--indexTwo);
    width: 100%;
}

.schools-dropdown a {
    border-bottom: 1px solid slategrey;
}

.filters-card {
    outline: 2px solid slategray;
    padding: 1rem .5rem;
    opacity: 0;
}

.filters-card.display {
    opacity: 1;
}


