{% extends 'base.html' %}
{% load static %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'payments/styles/order-summary.css' %}">
{% endblock %}

{% block main %}
<div id="container">
    <form
id="payment-form"
hx-post="{% url 'initialize_transaction' %}"
hx-trigger="click"
hx-target="#global-response-message-htmx"
hx-swap="outerHTML"
>
    {% csrf_token %}
    <h1>Order Summary</h1>

    <input type="hidden" name="school" value="{{school_pk}}">

    <ul class="regions-list">
    {% for region in regions %}
        <li><i class="fa-solid fa-location-dot"></i><span>{{ region }}<span>&#8358; 1500</span></span></li>
        <input type="hidden" name="region" value="{{ region.pk }}">
    {% endfor %}
    </ul>

    {% for room_type in room_types %}
    <input type="hidden" name="room-type" value="{{room_type.pk}}">
    {% endfor %}

    <input type="hidden" name="min-price" value="{{min_price}}">
    <input type="hidden" name="max-price" value="{{max_price}}">

    <div class="amount-container"><b>Total: </b><span>&#8358; {{ amount }}</span></div>

    <button class="button-one" type="submit">Proceed to payment</button>
</form>

</div>

{% endblock %}
