{% extends 'base.html' %}
{% load static %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'payments/styles/order-summary.css' %}">
{% endblock %}

{% block main %}
<div id="container">
    <form
id="payment-form"
hx-post="{% url 'initialize_transaction' %}"
hx-trigger="click"
hx-target="#response-message"
hx-swap="outerHTML"
>
    {% csrf_token %}
    <h1>Order Summary</h1>

    <ul class="regions-list">
    {% for region in regions %}
        <li><i class="fa-solid fa-location-dot"></i><span>{{ region }}<span>&#8358; 1500</span></span></li>
        <input type="hidden" name="region" value="{{ region.pk }}">
    {% endfor %}
    </ul>

    <div class="amount-container"><b>Total: </b><span>&#8358; {{ amount }}</span></div>

    <button class="button-one" type="submit">Proceed to payment</button>
</form>

</div>

{% endblock %}
