{% extends 'base.html' %}
{% load static %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'users/styles/creator-earnings.css' %}?uuid={{uuid}}">
{% endblock %}

{% block main %}
<div id="main">
    <div class="creator-payment-container">
        <h1>Enter Your Bank Details</h1>
    <form class="creator-payment-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>
</div>
{% endblock %}
