{% extends 'base.html' %}
{% load static %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{% static 'users/styles/creator-earnings.css' %}?uuid={{uuid}}">
    <link rel="stylesheet" href="{% static 'listings/styles/lodge-profile.css' %}?uuid={{uuid}}">

{% endblock %}

{% block main %}
<main id="main">
    <div class="creator-payment-container">
        <h1>Cash Out</h1>
        <form class="basic-form" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
    </div>
</main>

{% endblock %}
