{% extends 'users/users-base.html' %}
{% load static %}

{% block section_stylesheets %}
<link rel="stylesheet" href="{% static 'users/styles/client-dashboard.css' %}">
{% endblock %}

{% block middle_content %}
<div class="middle-content">
    <div>
        <h3><i class="fa-solid fa-gauge"></i><span>Dashboard</span></h3>
        <div class="listings-card-container">
            <div class="slate-gray-bg">
                <i class="fa-solid fa-hourglass-start slate-gray"></i>
                <b>Unverified</b>
                <div class="count">{% if unverified_listings %}{{ unverified_listings.count }}{% else %}0{% endif %}</div>
            </div>

            <div class="yellow-bg">
                <i class="fa-solid fa-circle-exclamation yellow"></i>
                <b>Probation</b>
                <div class="count">{% if probation_listings %}{{ probation_listings.count}}{% else %}0{% endif %}</div>
            </div>

            <div class="crimson-bg">
                <i class="fa-solid fa-ban crimson"></i>
                <b>Rejected</b>
                <div class="count">{% if rejected_listings %}{{rejected_listings.count}}{% else %}0{% endif %}</div>
            </div>

            <div class="green-bg">
                <i class="fa-solid fa-certificate green"></i>
                <b>Verified</b>
                <div class="count">{% if verified_listings %}{{verified_listings.count}}{% else %}0{% endif %}</div>
            </div>

            {% comment %}
            <div>
                <i class="fa-solid fa-flag-checkered"></i>
                <b>Settled</b>
                <div class="count">{% if settled_listings %}{{settled_listings.count }}{% else %}0{% endif %}</div>
            </div>
            {% endcomment %}
        </div>
    </div>

    <div class="key-stats-container-mobile">
        <h3>
            <i class="fa-solid fa-chart-simple"></i>
            <span>Key Stats</span>
        </h3>

        <ul>
            <li><i class="fa-solid fa-check-double"></i>Active Subscriptions: {% if active_subscriptions %}{{active_subscriptions.count}}{% else %}0{% endif %}</li>
            <li><i class="fa-solid fa-flag-checkered slate-gray"></i>Expired Subscriptions: {% if expired_subscriptions %}{{expired_subscriptions.count}}{% else %}0{% endif %}</li>
            <!-- <li><i class="fa-solid fa-naira-sign"></i> Total Paid: {% if total_paid %}{{total_paid}}{% else %}0{% endif %}</li> -->
        </ul>
    </div>

    <div class="notifications">
        <h3><i class="fa-solid fa-bell"></i>Notifications</h3>
        <div class="notifications-card">
            {% if notifications %}
                {{notifications}}
            {% else %}
                <span>&#8594; No notifications for now</span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
