@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color variables */
    --primaryGreen: #4ad66d;
    --primaryWhite: white;
    --backgroundGray: #f8f9fa;
    --lightGray: #ccc;
    --darkGray: #333;
    --crimson: crimson;
    --transparent: transparent;
    --slateGray: darkslategrey;

    /* box shadows */
    --slimBoxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --mediumBoxShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    /* font sizes */
    --smallFontSize: .8rem;

    /* z-index */
    --primaryNav: 2;
    --sideNav: 3;
    --navCard: 4;
    --toggleNavCardBtn: 4;

    /* heights */
    --navHeight: 4rem;

    /* border radius */
    --smallBorderRadius: .6rem;
    --circularBorderRadius: 50%
}

* {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* element resets */
a {
    text-decoration: none;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

button {
    cursor: pointer;
    /* background-color: var(--transparent); */
    /* border: none; */
    padding: 0;
}

/* end element resets */

#root-container {
    margin: 3rem max(1.5rem, 5vw);
}


/* messages */
#global-response-message.hide {
    display: none;
}

#global-response-message {
    position: relative;
    padding: 1rem 2rem;
    font-size: .8rem;
}

#global-response-message > button {
    background-color: var(--transparent);
    padding: 0;
    border: none;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: .5rem;
    color: var(--primaryWhite);
}

#global-response-message ul {
    margin: 0;
}

.error {
    background-color: var(--crimson);
    color: var(--primaryWhite);
}
.success {
    background-color: var(--primaryGreen);
    color: var(--primaryWhite);
}


/* end messages */
