{% extends 'users/users-base.html' %}
{% load static %}
{% load listings_filters %}

{% block section_stylesheets %}
<link rel="stylesheet" href="{% static 'users/styles/client-dashboard.css' %}">
{% endblock %}

{% block middle_content %}
<div class="middle-content">
    <div>
        <h3><i class="fa-solid fa-gauge"></i><span>Dashboard</span></h3>
        <div class="listings-card-container">
            <div class="slate-gray-bg">
                <i class="fa-solid fa-hourglass-start slate-gray"></i>
                <b>Unverified</b>
                <div class="count">{{unverified_listings.count}}</div>
            </div>

            <div class="yellow-bg">
                <i class="fa-solid fa-circle-exclamation yellow"></i>
                <b>Probation</b>
                <div class="count">{{ probation_listings.count}}</div>
            </div>

            <div class="crimson-bg">
                <i class="fa-solid fa-ban crimson"></i>
                <b>Rejected</b>
                <div class="count">{{rejected_listings.count}}</div>
            </div>

            <div class="green-bg">
                <i class="fa-solid fa-certificate green"></i>
                <b>Verified</b>
                <div class="count">{{verified_listings.count}}</div>
            </div>

            {% comment %}
            <div>
                <i class="fa-solid fa-flag-checkered"></i>
                <b>Settled</b>
                <div class="count">{% if settled_listings %}{{settled_listings.count }}{% else %}0{% endif %}</div>
            </div>
            {% endcomment %}
        </div>
    </div>

    <div class="key-stats-container-mobile">
        <h3>
            <i class="fa-solid fa-chart-simple"></i>
            <span>Key Stats</span>
        </h3>

        <ul>
            <li><i class="fa-solid fa-credit-card"></i>Earning: &#8358; {% if user.transfer_profile %}{{user.transfer_profile.balance}}{% else %}0{% endif %}</li>
            <li><i class="fa-solid fa-house-circle-check"></i>Lodges: {{user.lodges.count}}</li>
            <li><i class="fa-solid fa-door-open"></i>Vacancy: {{user|count_vacancy}}</li>
        </ul>
    </div>

    <div class="notifications">
        <h3><i class="fa-solid fa-bell"></i>Notifications</h3>
        <div class="notifications-card">
            {% if notifications %}
                {{notifications}}
            {% else %}
                <span>&#8594; No notifications for now</span>
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}
