{% extends 'users/client-base.html' %}
{% load static %}

{% block section_stylesheets %}
<!-- <link rel="stylesheet" href="{% static 'users/styles/client-dashboard.css' %}"> -->
{% endblock %}

{% block middle_content %}
<div class="middle-content">
    <h1>My Listings</h1>

    <ul>
        {% for lodge in user.lodges.all %}
        <li><a href="{% url 'get_lodge_profile' pk=lodge.pk %}">{{lodge.name}}</a></li>
        {% endfor %}
    </ul>

    {% comment %}
    <div class="key-stats-container-mobile">
        <h3>
            <i class="fa-solid fa-chart-simple"></i>
            <span>Key Stats</span>
        </h3>

        <ul>
            <li><i class="fa-solid fa-check-double"></i>Active Subscriptions: {% if active_subscriptions %}{{active_subscriptions.count}}{% else %}0{% endif %}</li>
            <li><i class="fa-solid fa-check-double"></i>Complete Transactions: {% if complete_transactions %}{{complete_transactions.count}}{% else %}0{% endif %}</li>
            <li><i class="fa-solid fa-ban"></i>Aborted Transactions: {% if incomplete_transactions %}{{incomplete_transactions.count}}{% else %}0{% endif %}</li>
            <!-- <li><i class="fa-solid fa-naira-sign"></i> Total Paid: {% if total_paid %}{{total_paid}}{% else %}0{% endif %}</li> -->
        </ul>
    </div>
    {% endcomment %}

</div>

{% endblock %}
