{% extends 'users/users-base.html' %}
{% load static %}

{% block section_stylesheets %}
<link rel="stylesheet" href="{% static 'users/styles/creator-listings.css' %}?uuid={{uuid}}">
{% endblock %}

{% block page_scripts_in_head %}
<script defer src="{% static 'listings/scripts/setLodgeLocation.js' %}?uuid={{uuid}}"></script>
{% endblock %}

{% block middle_content %}
<div class="middle-content">
    <div class="listings-container">
        <h3>Lodges</h3>
        <p id="location-display"></p>

        {% if grouped_lodges %}
            <p>Showing all</p>

            {% for school, regions in grouped_lodges.items %}
                <div class="group-lodges">
                    <h3><i class="fa-solid fa-graduation-cap"></i>{{ school }}</h3>
                    <div class="region-group-container">
                        {% for region, lodges in regions.items %}
                        <div class="region-group">
                            <h4><i class="fa-solid fa-location-dot"></i>{{ region }}</h4>
                            <ul>
                                {% for lodge in lodges %}
                                    <li class="lodge-list-item">
                                        <a class="lodge-profile-link" href="{% url 'get_lodge_profile' pk=lodge.pk %}">{{lodge.name}}</a>
                                        {% if lodge.longitude and lodge.latitude %}
                                            <a
                                            class="view-lodge-in-map-link"
                                            href="https://www.google.com/maps/@?api=1&map_action=map&center={{lodge.latitude}},{{lodge.longitude}}&zoom=15">
                                            <i class="fa-solid fa-map-location-dot"></i>
                                            <span>View in map</span>
                                            </a>
                                        {% else %}
                                        <button
                                        data-lodge-pk="{{lodge.pk}}"
                                        id="location-handler"
                                        class="set-location"
                                        data-url="{% url 'set_lodge_location' lodge_pk=lodge.pk %}"
                                        hx-on:click="getCoordinates(event)"
                                        >
                                            <i class="fa-solid fa-location-crosshairs"></i>
                                            Set location
                                        </button>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <em>No listings yet. Create one now.</em>
        {% endif %}

        {% comment %}
        <div class="key-stats-container-mobile">
            <h3>
                <i class="fa-solid fa-chart-simple"></i>
                <span>Key Stats</span>
            </h3>

            <ul>
                <li><i class="fa-solid fa-check-double"></i>Active Subscriptions: {% if active_subscriptions %}{{active_subscriptions.count}}{% else %}0{% endif %}</li>
                <li><i class="fa-solid fa-check-double"></i>Complete Transactions: {% if complete_transactions %}{{complete_transactions.count}}{% else %}0{% endif %}</li>
                <li><i class="fa-solid fa-ban"></i>Aborted Transactions: {% if incomplete_transactions %}{{incomplete_transactions.count}}{% else %}0{% endif %}</li>
                <!-- <li><i class="fa-solid fa-naira-sign"></i> Total Paid: {% if total_paid %}{{total_paid}}{% else %}0{% endif %}</li> -->
            </ul>
        </div>
        {% endcomment %}
    </div>

    <div class="register-lodge-container">
        <h3>New Lodge Registration</h3>
        <form
        id="register-lodge-form"
        class="register-lodge-form"
        action="{% url 'register_lodge' %}"
        method="post"
        x-data="{ selectedRoomTypes: [] }"
        @submit.prevent="if(selectedRoomTypes.length > 0) $event.target.submit(); else alert('Please select at least one room type.')"
        >
            {% csrf_token %}
            <div class="name-data">
                <div>
                    <label for="name">Lodge Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Lodge Name">
                </div>

                <div>
                    <label for="alias">Alias</label>
                    <input type="text" name="alias" id="alias" placeholder="Enter Alias">
                </div>

                <div>
                    <label for="phone_number">Phone Number</label>
                    <input required type="text" name="phone_number" id="phone_number" placeholder="Enter Phone Number">
                </div>

                <div>
                    <label for="address">Address</label>
                    <input required type="" name="address" id="address" placeholder="Enter Address">
                </div>
            </div>

            <div class="room-location-container">
                <div class="location-data">
                    <div>
                        <label for="states-dropdown">State</label>
                        <select
                        name="state"
                        id="states-dropdown"
                        hx-get="{% url 'get_schools' %}"
                        hx-target="#schools-dropdown"
                        hx-trigger="change"
                        hx-swap="outerHTML"
                        required
                        >
                            <option value="" disabled selected>Select state</option>
                            {% for state in states %}
                                <option value="{{state.pk}}">{{state.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="schools-dropdown">School</label>
                        <select
                        name="school"
                        id="schools-dropdown"
                        hx-get="{% url 'get_regions_select' %}"
                        hx-target="#region-checkboxes"
                        hx-trigger="change"
                        hx-swap="outerHTML"
                        required
                        >
                            <option value="" disabled selected>----</option>
                        </select>
                    </div>

                    <div>
                        <label for="regions-dropdown">Region</label>
                        <select
                        name="region"
                        id="regions-dropdown"
                        >
                            <option value="" disabled selected>----</option>
                        </select>
                    </div>

                    <div>
                        <label for="landmarks-dropdown">Landmark</label>
                        <select
                        name="landmark"
                        id="landmarks-dropdown"
                        >
                            <option value="" disabled selected>----</option>
                        </select>
                    </div>

                </div>


                <div class="room-data">
                    {% for room_type in room_types %}
                    <div
                    style="display: flex; align-items: center; column-gap: .5rem">
                        <input style="width: max-content" type="checkbox" name="room-type" id="{{room_type.name}}" value="{{room_type.pk}}" x-model="selectedRoomTypes">
                        <label for="{{room_type.name}}">{{room_type.get_name_display}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <button class="register-lodge-btn" type="submit">Register</button>
        </form>
    </div>

</div>

<input type="hidden" name="csrf-hidden" value="{{csrf_token}}">
{% endblock %}
