{% extends 'users/users-base.html' %}
{% load static %}

{% block section_stylesheets %}
<link rel="stylesheet" href="{% static 'users/styles/creator-earnings.css' %}?uuid={{uuid}}">

{% endblock %}

{% block middle_content %}
<div class="middle-content">
    <h1>Earnings</h1>

    {% if request.user.transfer_profile %}
    Balance: ₦{{ request.user.transfer_profile.balance }}
{% else %}
    balance: N0.00
{% endif %}
<br>
<a href="{% url 'pay_creator' %}">Withdraw balance</a>
<br>

<a href="{% url 'creator_transfer_info' %}">Save payment Information</a>

</div>

{% endblock %}
