{% extends 'users/users-base.html' %}
{% load static %}

{% block section_stylesheets %}
<link rel="stylesheet" href="{% static 'users/styles/creator-earnings.css' %}?uuid={{uuid}}">

{% endblock %}

{% block middle_content %}
<div class="middle-content">
    <button>Today</button>

    <div class="middle-cards-container">
        <div class="earnings-card">
            <span><b>Earnings</b></span>
            <div class="balance-display">
                {% if request.user.transfer_profile %}
                    ₦{{ request.user.transfer_profile.balance }}
                {% else %}
                    ₦0.00
                {% endif %}
            </div>
        </div>
        <div class="payment-info-card">
            <div>
                <b>Payment Info</b>
                <a href="{% url 'creator_transfer_info' %}">Save payment Information</a>
            </div>

            <div>
                <b>Withdrawals</b>
                <a href="{% url 'pay_creator' %}">Cashout</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
